[Desktop Entry]
Version=1.0
Type=Application
Name=GMIC
Exec=PhFGimp
Icon=PhFGimp
Categories=Graphics;2DGraphics;RasterGraphics;
Comment="PhotoFlow GIMP plug-in"
